.feynman__title {
    max-width: 775px;
    margin: 0px;
    margin-bottom: 70px;
    align-self: center;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
  }