.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 1;
  }

.feynman__link:hover {
  opacity: .4;
}